*{
    margin: 0;
    padding: 0;
}

a{ 
    text-decoration: none;
    color: white;
}

li{
list-style: none;
}

body {
    display: flex;
}

#root {
    display: flex;
    flex-wrap: wrap;
}

section {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0 20px;
}

.middleContext {
    display: flex;
}

table {
    border: 1px double #48aae6;
}

table td{
    border: none;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: #48aae6;
}

.addButton {
    width: 35px;
    height: 35px;
    font-size: 14px;
    font-weight: bold;
    background-color: #f3a500;
    color: white;
    border: none
}

.deleteButton {
    width: 35px;
    height: 35px;
    font-size: 14px;
    font-weight: bold;
    background-color: #b20000;
    color: white;
    border: none
}

.addButton:hover {
    background-color: #f6c052;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #ca4c49;
    cursor: pointer;
}

.deleteCol {
    margin-left: 36px;
}

.addRow {
    margin-left: 36px;
}

#addColsButton {
    margin: 3px 0.5px;
    position: relative;
}

#addRowsButton {
    margin: 0.5px 3px;
    position: relative;
}

#deleteRowsButton {
    visibility: hidden;
    position: relative;
    margin: 1px 0.5px;
    transition-duration: .5s;
}

#deleteColsButton {
    visibility: hidden;
    position: relative;
    margin: 0.5px 1px;
    transition-duration: .5s;
}